.header{
    display:flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: space-around; 
    border: solid 3px black;
    border-radius: 10px;
}
.titre{
    display:flex;
    align-items: center;
    margin-bottom: 30px;
}

.logo{
    padding:2px;
}
/*img::after{
    max-height: 150px;
    width:300px;
}*/
.inscription{
    width:100px;
    height: 50px;
    display: inline-block;
    text-align: center; 
    margin-top: 0px;
    margin-bottom: 20px;    
}

.connexion{
    width:100px;
    height: 50px;
    display: inline-block;
    text-align: center;   
}