.header{
    display:flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: space-around; 
    border: solid 3px black;
    border-radius: 10px;
}
.titre{
    display:flex;
    align-items: center;
    
    margin-bottom: 30px;
}
.logo{
    width:30%;
    padding:2px;
}
.btsignup{
    width:100px;
    height: 50px;
    display: inline-block;
    
}
.btlogin{
    width:100px;
    height: 50px;
    display: inline-block;
    
}