a {
    cursor: pointer;
    text-decoration: none;
}
.article-post{
    display:flex;
    justify-content: center;
}
.bigheader {
    width: 100%;
}
.comment {
    display:flex;
    flex-direction: column;
    background-color:white;
    box-shadow: 1px 2px 5px black;
    border-radius: 10px;
    border:2px solid#ffd7d7 ;
    margin: 20px;
    padding:15px 25px 20px 25px;
}
.comment:hover{
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
    box-shadow: 10px 5px 5px black;
}
.comment-post{
    display:flex;
    justify-content: center;
}
.comment_publication {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background-color: #ffd7d7;
    box-shadow: 1px 2px 5px black;
    border-radius: 10px;
    border:2px solid white ;
    margin-top: 20px;
    animation: titre ease 3.5s;
}
.comments_publication {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background-color: #ffd7d7;
    box-shadow: 10px 5px 5px black;
    border-radius: 10px;
    border:2px solid white ;
    padding: 15px;
    margin-top: 20px;
    animation: titre2 ease 3.5s;
}
.connexion a:hover {
    transition: 0.6s;
    color: #fd2d01;
    font-weight: bolder;
}
.deconnexion a:hover {
    transition: 0.6s;
    color: #fd2d01;
    font-weight: bolder;
}
.detail-post{
    width:60%;
}
.feedpostdetail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedposts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feed_publication {
    background-color: #4e5166;
    border-radius: 10px;
    width: 60%;
    margin-top: 20px;
}
.feed_publication_send {
    border-radius: 10px;
    padding: 10px;
}
.feeds_publication {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffd7d7;
    box-shadow: 10px 5px 5px black;
    border-radius: 10px;
    border:2px solid white ;
    padding: 15px;
    width: 60%;
    animation: titre ease 3.5s;
}
.feedpublidetail{
    width:60%;
}
.feed_title {
    color: #fd2d01;
    font-weight: bolder;
    padding-top: 10px;
    ;
}
.form {
    width: 40%;
}
.form-login {
    margin-bottom: 20px;
}
.form__question {
    margin: 10px;

    font-size: 15px;
}
.form-signup {
    margin-bottom: 20px;
}
.form__submit {
    display: flex;
    justify-content: center;
}
.form__submit:hover {
    cursor: pointer;
}
.form__submit input {
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    background-color: #4e5166;
    color: white;
    padding: 2px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 8px;
}
.form__submit input:hover {
    background-color: #fd2d01;
    transition: 0.5s;
    box-shadow: rgb(42 18 206 / 55%) 0 0 22px 6px;
}
.headposts {
    display: flex;
}
.icone {
    display:flex;
    justify-content: space-between;
    color: #4e5166;
    cursor: pointer;
}
.iconesInteract{
    width:100%;
}
.icone-like {
    margin-right:5px;
    color: green;
}
.iconesinterdetail{
    width:80%;
}
.img_comment {
    background-color: white;
    object-fit: cover;
    width:100%;
}
.img_container{
    display: flex;
    justify-content: center;
}
.img_feed {
    object-fit: cover;
    max-width: 100%;
    background-color: white;
    color: #4e5166;
    border: 5px solid white;
}
.inscription a:hover {
    transition: 0.6s;
    color: #fd2d01;
    font-weight: bolder;
}
input {
    width: 100%;
    height: 25px;
    border-radius: 10px;
}
input::placeholder {
    text-align: center;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 3px black;
    border-radius: 10px;
    padding: 10px;
    background-color: #ffd7d7;
}
.modifyAndRemovePost {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.post {
    display:flex;
    flex-direction: column;
    background-color: #ffd7d7;
    box-shadow: 1px 2px 5px black;
    border-radius: 10px;
    border:2px solid white ;
    margin: 20px 0px 0px 0px;
    padding: 15px 25px 20px 25px;
}
.post:hover {
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
    box-shadow: 10px 5px 5px black;
}
.posts {
    border-radius: 10px;
}
.profile {
    display: flex;
    background-color: #ffd7d7;
    margin:0px 0px 10px 0px;
}
.profile_firstname {
    font-weight: bolder;
}
.profile_lastname {
    font-weight: bolder;
}
.publication_button {
    font-size: 10px;
    border: 5px;
    margin-right: 10px;
    background-color: #4e5166;
    color: white;
    cursor: pointer;
}
.publication_button:hover {
    background-color: #fd2d01;
    transition: 0.5s;
    box-shadow: rgb(42 18 206 / 55%) 0 0 22px 6px;
}
.publication_button_send {
    width: 150px;
    height: 25px;
    font-size: 10px;
    border-radius: 10px;
    margin: 10px;
    border: 5px;
    background-color: #4e5166;
    color: white;
    cursor: pointer;
}
.publication_button_send:hover {
    background-color: #fd2d01;
    transition: 0.5s;
    box-shadow: rgb(42 18 206 / 55%) 0 0 22px 6px;
}
.publication_file {
    border-radius: 0px;
    padding: 5px;
}
.publication_send {
    width:60%;
    padding: 10px;
}
.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 3px black;
    border-radius: 10px;
    padding: 10px;
    background-color: #ffd7d7;
    box-shadow: 10px 5px 5px black;
    margin: 0px 50px 0px 50px;
}
.texte_publication {
    background-color: white;
    border: solid 2px;
    color: #4e5166;
}
.texte_publication_comment {
    background-color: #ffd7d7;
    color: #4e5166;
    padding: 5px;
}
.texte_publication_feed {
    display:block;
    font-size: 20px;
    border-radius: 10px;
    border: solid 2px;
    color: #4e5166;
    background-color: white;
    color: #4e5166;
    padding: 5px;
    margin:20px 0px 10px 0px;
}
.text_publication p {
    margin: 0px;
}
.vote_publication {
    display: flex;
    justify-content: center;
    padding: 5px;
}

@keyframes titre{
    0%{
        opacity: 0;
        transform: translateY(380px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes titre2{
    0%{
        opacity: 0;
        transform: translatex(380px);
    }
    100% {
        opacity: 1;
        transform: translatex(0px);
    }
}